<div id="account-list">
  <div class="container table-responsive">
    <table class="table table-sm table-bordered">
      <tr>
        <th *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
      <tr *ngFor="let item of accountList | async">       
         <td>
              <a [routerLink]="" (click)="accountClicked(item.lplAcct)">{{item.lplAcct}}</a>
        </td>
         <td>{{item.acctName}}</td>
         <td>{{item.clntGrp}}</td>
         <td>{{item.acctClass}}</td>
         <td>{{item.invstObj}}</td>
         <td>{{item.repID}}</td>
      </tr>
    </table>
  </div>
</div>