<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" href="#">Trading</a>
        </div>
        <div class="nav navbar-nav">
            <li>
                <a class="navbar-brand" href="#">Enter Trade</a>
            </li>            
        </div>
        <ul class="nav navbar-nav navbar-right">
            <hamburger-menu></hamburger-menu>                
        </ul>
    </div>    
</nav>
<router-outlet></router-outlet>